<link rel="stylesheet" href="/css/user_profile.css">
<link rel="stylesheet" href="/css/home.css">    



<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <div id="home-container">
        <section id="user-details">
            <% if(user.avatar) {%>
                <img src="<%= user.avatar %>" class='img' height="100" width="100">
            <% }else{%>
                <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" class='img' height="100" width="100">
            <%}%>
            <br>
            <br>
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                <input type="file" name="avatar" placeholder="Profile Picture">
                <br>
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <br>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                <br>
                <input type="submit"  value="Update">
            </form>
        </section>
        <section id="feed-posts">
            <h4>Posts:</h4>
            <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" enctype="multipart/form-data" method="POST">
                <textarea name="content" cols="60" rows="6" placeholder="Type Here..." required></textarea>
                <label for="file-upload" class="custom-file-upload" >
                    <img for="file-upload" src="https://cdn3.iconfinder.com/data/icons/upload-filled-outline/107/Recurso_27-256.png" alt="" style="width: 80; height: 60;">
                </label>
                <input id="file-upload" type="file" onchange="checkUpload(event, 'uploaded-item-stack')"/>
                <br>
                <input type="submit" value="Post">
            </form>
            
            <% } %>           
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        <% if(profile_user.id == post.user.id){ %>  
                            <%- include('_post') -%>
                        <% } %> 
                        <br> 
                    <%} %>
                </ul>
            </div>
        </section>
    </div>
    
    
    
<%}else{%>    
    <!-- else show only the profile info -->
    <div id="home-container">
        <section id="user-details">
            <% if(profile_user.avatar) {%>
                <img src="<%=profile_user.avatar%>" class='img' height="100" width="100">
            <% }else{%>
                <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" class='img' height="100" width="100">
            <%}%>
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
            <%var check%>
            <% for (f of user.friendships){%>            
                <%if(f._id==profile_user.id){%>
                    <%check=true%>
                <%}%>            
            <%}%>
            <%if(check){%>
                <p class='add' style='background-color:rgb(132, 134, 132); color: rgb(20, 20, 20); width: 50%;'>You and <%= profile_user.name %> are friends.</p>
            <%}else{%>
                <a id='addfreind' class='add' href="/freind/add?id=<%=profile_user.id%>&name=<%=user.id%>">Add Freind</a>
            <%}%>
        </section>
        
        <section id="feed-posts">
            <h4>Posts:</h4>
                      
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        <% if(profile_user.id == post.user.id){ %>  
                            <%- include('_post') -%>
                        <% } %> 
                        <br> 
                    <%} %>
                </ul>
            </div>
        </section>
    </div>
    
    
<%} %>
<script src="/assets/js/home_posts.js"></script>
